.name{
    padding: 190px 100px;
    padding-bottom: 20px;
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 70px;
    font-weight: 500;
}
.image{
    border-radius: 40px;
}
.intro{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 120px;
}
.title{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 45px;
    font-weight: 500;
    padding-left: 400px;
}
.year{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
}
.school{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0px;
}
.award{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
}
.date{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0px;
}
.box{
    width: fit-content;
    display: block;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}