.name{
    padding: 18vh;
    padding-left: 0px; 
    padding-bottom: 20px;
    font-family: "Quicksand";
    font-size: 70px;
    font-weight: 500;
    color: #6C5CE7;
}
.image{
    border-radius: 40px;
}
.intro{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 20px;
    font-weight: 400;
    padding: 20vh;
    padding-top: 0;
    padding-left: 0;
    
}
.title{
    font-family: "Quicksand";
    color: #383a49;
    font-size: 45px;
    font-weight: 500;
    padding-left: 10vw;
}
.year{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
}
.school{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0px;
}
.award{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
}
.date{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0px;
}
.box{
    width: fit-content;
    display: block;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card_link{
    font-family: "Quicksand";
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #2C2E43;
    overflow: hidden;
    background: linear-gradient(to right, #fc659e 50%, midnightblue, #2C2E43 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
}
.topic_box{
 background-color: #ffdcf6;
 border-radius: 15px;
 width: max-content;
 height: max-content;
 color:#2C2E43;
}
.box_color{
  width: max-content;
  height: max-content;
  background-color: #c8f1ef;
  border-radius:10px;
  padding:5px;
  padding-bottom: 0px;
  padding-right:15px;
}

  
  .card_link:hover{
    background-position: 0 100%;
  }

  .icon_link{
    font-family: "Quicksand";
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding-top: 0.5vh;
    font-weight: 500;
    color: #2C2E43;
    overflow: hidden;
    background: linear-gradient(to right, #fc659e 50%, midnightblue, #2C2E43 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
  }
  .icon_link:hover{
    background-position: 0 100%;
  }
  .popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.cont_div{
  display: grid;
  grid-template-rows: auto auto auto auto;
}
.grid_div{
  display: grid
}
.col_div{
  display: grid;
  grid-template-columns: 40vw 60vw;
}
.img_div{
  padding-top: 20vh;
  padding-left: 10vw;
}
.ed_col{
  display: grid;
  grid-template-columns: auto auto;
   padding-top: 3vh;
}
.award_col{
  padding-top: 3vh;
}
.col_award{
  display: grid;
  grid-template-columns: 75% 25%;
}
.tool_div{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.intro_div{
  padding-left: 3vw;
}



@media screen and (max-width: 828px) {
  .col_div{
    display: unset;
    padding: 5vw;
    padding-bottom: 2vh;
  }
  .img_div{
    padding-top: 10vh;
    padding-left:8vw;
  }
  .name{
    padding-top: 45vh;
    padding-right: 4vw;
    padding-left: 7vw; 
    padding-bottom: 3vh;
    font-size: 2.5rem; 
  }
  .intro{
    padding-right: 5vw;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 8vw;
    padding-bottom: 0;
  }
  .title{
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 7vw;
    padding-bottom: 3vh;
  }
  .ed_col{
    padding-top: 0;
    padding-left: 3vw;
  }
  .box_color{
    height: fit-content;
    padding-top: 3vh;
    margin-bottom: 3vh;
  }
  .award_col{
    padding-top: 0vh;
    padding-left: 3vh;
  }
  .award{
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
  }
  .col_award{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .tool_div{
    grid-template-columns: auto auto auto;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-left: 7vw;
  }
  .intro_div{
    padding-left: 3vw;
    padding-top: 5vw;
  }
  


}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .name{
      padding-top: 40vh;
      padding-right: 4vw;
      padding-left: 7vw; 
      padding-bottom: 3vh;
      font-size: 2.5rem; 
    }
    .ed_col{
      padding-top: 0;
      padding-left: 7vw;
    }
    .award_col{
      padding-top: 0vh;
      padding-left: 7vw;
    }
    .intro_div{
      padding-left: 3vw;
      padding-top: 3vw;
    }
}


  
