.round-button {
    display:block;
    width:120px;
    height:120px;
    line-height:80px;
    border-radius: 50%;
    color:#FAFAFA;
    text-align:center;
    text-decoration:none;
    background: #fc659e;
    font-weight: 600;
    font-size: 18px;
    font-family: "Quicksand";
    margin-top: 40px;
    padding-top: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition:all .5s ease-in-out;
    cursor: pointer;
    transition-property: background-color, box-shadow, transform;
    transition-duration: 0.3s;
}
.round-button:hover {
    background:rgb(252, 101, 158);
    /* box-shadow: 0px 15px 20px rgb(252, 101, 158); */
    color: #fafafa;
    cursor: pointer;
    transform: translateY(-7px);
}
.about_meh{
    display: flex;
    flex-flow: column; 
    align-items: center;
    padding: 120px 50px 40px 140px; 
    padding-bottom:120px;
}

.txt{
    font-weight: 500;
    font-size: 26px;
    font-family: "Quicksand";
    padding-left: 5px;
    padding-right: 28px;
    color: #334257;
    line-height: 33px;
    
}
.cert_name{
    padding-top:160px;
    padding-left:15px;
}

.item {
    transform: scale(0);
    transition: all 400ms;
}

.in-view {
    transform: scale(1); 
}

.cert{
    font-weight: 500;
    font-size: 18px;
    font-family: "Quicksand";
    color: #334257;
}
.about_container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 60px;
}
.udemy_container{
    display:grid;
    grid-template-columns: auto;
    padding-left: 90px;
    padding-top:70px;
}
.ml_container{
    display:grid;
    grid-template-columns: auto;
    padding-left: 10px;
    margin-right: 10px;
}
.udemy_img{
    width:210px; 
    height:140px
}
.dl_img{
    width:auto; 
    height:140px
}
.btn_div{
    padding-right: 80px;
}
.flutter_div{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
.flutter_img{
    width:200px;
    height:130px;
}
.flutter_container{
    display:grid;
    grid-template-columns: auto;
    padding-left: 50px;
}
@media screen and (max-width: 828px) {
  .about_container{
    grid-template-columns: 100%;
    padding-top: 1vh;
  }
  .about_meh{
    padding-left: 26vw; 
    padding-bottom:16vh;
  }
  .txt{
    font-size: 1.25rem;
    /* padding-left: 10vw;
    padding-right: 5vw; */
  }
  .btn_div{
     padding-left: 5vw; 
  }
  .udemy_container{
      display: none;
      padding-right: 0;
  }
  .flutter_container{
      display: none;
  }
  .ml_container{
    display: none;
    padding-right: 0;
}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .about_meh{
        display: flex;
        flex-flow: column; 
        align-items: center;
        padding: 10vh 25vw; 
        padding-left: 20vw;
        padding-right: 10vw;
    }
    .btn_div{
        padding-right: 15vw;
    }
    .udemy_container{
        display: none;
        padding-right: 0;
    }
    .ml_container{
        display: none;
        padding-right: 0;
    }
    .flutter_container{
        display: none;
    }
    
}