.name{
    padding: 190px 100px;
    padding-bottom: 20px;
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 70px;
    font-weight: 500;
}
.image{
    border-radius: 40px;
}
.intro{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 120px;
}
.title{
    font-family: "Quicksand";
    color: #383a49;
    font-size: 45px;
    font-weight: 500;
    padding-left: 400px;
}
.year{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
}
.school{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0px;
}
.award{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 0px;
}
.date{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 0px;
}
.box{
    width: fit-content;
    display: block;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card_link{
    font-family: "Quicksand";
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #2C2E43;
    overflow: hidden;
    background: linear-gradient(to right, #fc659e 50%, midnightblue, #2C2E43 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
}
.topic_box{
 background-color: #ffdcf6;
 border-radius: 15px;
 width: max-content;
 height: max-content;
 color:#2C2E43;
}
.box_color{
  width: max-content;
  height: max-content;
  background-color: #c8f1ef;
  border-radius:10px;
  padding:5px;
  padding-bottom: 0px;
  padding-right:15px;
}

  
  .card_link:hover{
    background-position: 0 100%;
  }

  .icon_link{
    font-family: "Quicksand";
    position: relative;
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #2C2E43;
    overflow: hidden;
    background: linear-gradient(to right, #fc659e 50%, midnightblue, #2C2E43 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
  }
  .icon_link:hover{
    background-position: 0 100%;
  }
  .popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  


  
