.contact_btn{
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Quicksand";
    font-size: 2vh;
    color: #2C2E43;
    display: grid; 
    padding-top: 2vh;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 828px) {
    .contact_btn{
        color:#2C2E43; 
        font-weight: 500;
        font-size: 2vh;
        padding-top: 2vh;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .contact_btn{
        color:#2C2E43; 
        font-weight: 500;
        font-size: 2vh;
        padding-top: 2vh;
    }
    .arrow_icn{padding-top: 0.5vh;}
}