*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#nav{
    margin-right: 5vw;
    font-family: "Quicksand";
    padding-top: 20px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 2vh;
    color: #2C2E43;
    overflow: hidden;
    background: linear-gradient(to right, royalblue 50%, midnightblue, #2C2E43 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
}
#nav:hover{
    background-position: 0 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 4rem;
    position: fixed;
    width: 100%;
    background: #fafafa;
    z-index: 100;
}
@media screen and (max-width: 828px) {
    #nav{font-size: 1.2rem; margin-right: 29px; margin-left: 0.5px;}
    .header{padding-left: 3rem;}

}
/* @media screen and (max-width: 795px) {
    #nav{font-size: 0.85rem;}
}
@media screen and (max-width: 695px) {
    #nav{font-size: 0.75rem;}
} */