.appbar {
    background-color: #fafafa;
    box-shadow: none;
}
.header_txt{
    color: #2C2E43;
    margin-right: 80px;
    font-family: "Quicksand";
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;
}
#nav{
    margin-right: 80px;
    font-family: "Quicksand";
    padding-top: 20px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #2C2E43;
    overflow: hidden;
    background: linear-gradient(to right, royalblue 50%, midnightblue, #2C2E43 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
}
#nav:hover{
    background-position: 0 100%;
}
