.great_txt{
    font-size: 30px;
    font-weight: 500;
    font-family: "Quicksand";
    line-height: 0px;
}

.name_txt{
    font-size: 90px;
    font-weight: 400;
    font-family: "Quicksand";
    padding-left: 3vw;
}

.role_txt{
    font-size: 30px;
    font-weight: 500;
    font-family: "Quicksand";
    padding-top: 3vh;
}

.txt_block{
    display: flex;
    flex-flow: column;
    align-items: start;
    padding-top: 25vh;
    padding-left: 10vw;
}

.landing{
    background-image: url('../images/landing-4.png');
    width:100vw;
    height: 820px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10vh;
}



@media screen and (max-width: 828px) {
    .great_txt{ font-size: 2rem; }
    .name_txt{ font-size: 3.5rem;  }
    .role_txt{ font-size: 1.20rem; padding-top: 2vh;}
    .txt_block{padding-left: 9vw; padding-top: 10vh;}
    .landing{
       background-image: none;
       width: min-content;
    }
    .landing_img{
        background-image: url('../images/frame3.png');
        height: 50vh; 
        width: 100vw;
        image-resolution: from-image 300dpi;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 5vh;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .great_txt{ font-size: 2rem; }
    .name_txt{ font-size: 4.5rem; }
    .role_txt{ font-size: 2rem; }
    .txt_block{padding-left: 9vw; padding-top: 10vh;}
    .landing{
       background-image: none;
       width: min-content;
    }
    .landing_img{
        background-image: url('../images/frame3.png');
        height: 50vh; 
        width: 100vw;
        image-resolution: from-image 300dpi;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 5vh;
    }
}



