.great_txt{
    font-size: 3vw;
    font-weight: 500;
    font-family: "Quicksand";
    line-height: 0px;
}

.name_txt{
    font-size: 6vw;
    font-weight: 400;
    font-family: "Quicksand";
    padding-left: 50px;
}

.role_txt{
    font-size: 2vw;
    font-weight: 600;
    font-family: "Quicksand";
    padding-left: 0px;
    padding-top: 10px;
}

.txt_block{
    display: flex;
    flex-flow: column;
    align-items: start;
    padding-top: 25vh;
    padding-left: 200px;
}

.landing{
    background-image: url('../images/landing-4.png');
    width:1450px;
    height: 820px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10vh;
}



@media screen and (max-width: 828px) {
    .great_txt{font-family:"Noto Sans JP"; font-size: 2rem; font-weight: 400;}
    .name_txt{font-family:"Noto Sans JP"; font-size: 3.5rem; padding-left: 0px; font-weight: 400;}
    .role_txt{font-family:"Noto Sans JP"; font-size: 1.20rem; font-weight: 400;}
    .txt_block{padding-left: 9vw; padding-top: 10vh;}
    .landing{
       background-image: none;
       width: min-content;
    }
    .landing_img{
        background-image: url('../images/frame3.png');
        height: 50vh; 
        width: 100vw;
        image-resolution: from-image 300dpi;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 5vh;
    }
}



