.great_txt{
    font-size: 3vw;
    font-weight: 500;
    font-family: "Quicksand";
    line-height: 0px;
}

.name_txt{
    font-size: 6vw;
    font-weight: 400;
    font-family: "Quicksand";
    padding-left: 50px;
}

.role_txt{
    font-size: 2vw;
    font-weight: 600;
    font-family: "Quicksand";
    padding-left: 0px;
    padding-top: 10px;
}

.txt_block{
    display: flex;
    flex-flow: column;
    align-items: start;
    padding-top: 25vh;
    padding-left: 200px;
}

.landing{
    background-image: url('../images/landing-4.png');
    width:1450px;
    height: 820px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* @media screen and (max-width: 828px) {
    .landing{
        background-image: url('../images/landing_iphone-3.png');
        height: 100%; 
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }

} */

@media screen and (max-width: 828px) {
    .great_txt{font-size: 2rem; font-weight: 500;}
    .name_txt{font-size: 2.5rem; padding-left: 5vw; font-weight: 600;}
    .role_txt{font-size: 1.25rem; font-weight: 600;}
    .txt_block{padding-left: 6vw; padding-top: 16vh;}
    .landing{background-image: url('../images/landing_iphone-3.png');
        height: 100%; 
        width: 828px;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 10vh;
    }
}


section{width:100%; max-width:100px; margin:0 auto;}

.cluster{position:relative; width:100%; max-width:874px; height:792px; margin:100px auto; background-color:transparent; padding-bottom:120px;}

.clusterPieces{position:absolute;}

.circle{width:100%; max-width:400px; height:360px; border-radius:50%; background-color:#fc659e; left:100px; bottom:0; z-index:1;}

.dotsBlue{width:100%; height:auto; max-width:494px; max-height:434px; z-index:3; left:0; top:80px;}
/* 
@media screen and (max-width: 1025px) {
   .cluster{max-width:600px; height:550px; margin:20px auto;}
   .dotsBlue{max-width:340px;left:0; top:56px;}
   .circle{max-width:246px; height:246px; left:146px; top:300px;}
}

@media screen and (max-width: 640px) {
    .cluster{max-width:480px; height:436px;}
    .dotsBlue{max-width:274px;left:0; top:45px;}
    .circle{max-width:196px; height:196px; left:115px; top:240px;}
}

@media screen and (max-width: 540px) {
    .clusterPieces{position:relative;}
    .cluster{max-width:320px; height:530px;}
    .dotsBlue{display:none}
    .circle{display:none;}
} */