.heading{
    font-family: "Quicksand";
    color: #2C2E43;
    font-size: 70px;
    font-weight: 500;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 60px;
}

.wrapper {
    width: 600px;
    height: 450px;
    position: relative;
    margin: 40px;
  }
  
  .cover,
  img {
    position: absolute;
  }
  
  .cover {
    width: 100%;
    height: 100%;
    background: #ffffff;
  }

  .image :hover  {
    cursor: pointer;
    opacity: 0.5;
  }


  .image:hover .middle {
    opacity: 2;
  }
  ​
  .text {
    font-family: "DM Sans";
    background-color: none;
    color: black;
    font-size: 120px;
    padding-top: 120px;
    padding-left: 30px;
  }

  .large {
    width: 550px;
    height: 400px;
  }
  
  .link{
    text-decoration: none;
    color:#2C2E43;
  }