.heading{
    font-family: "DM Sans";
    color: #2C2E43;
    font-size: 70px;
    font-weight: 400;
    padding: 40px;
    padding-top: 60px;
}

.wrapper {
    width: 600px;
    height: 450px;
    position: relative;
    margin: 40px;
  }
  
  .cover,
  img {
    position: absolute;
  }
  
  .cover {
    width: 100%;
    height: 100%;
    background: #f8f8ff;
  }